{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
<h1>Recipes:</h1>
<div class="recipe-cards">
    {% for recipe in recipes %}
    <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p>{{recipe.cookbook}}</p>
        <ul>
            {% for ingredient in recipe.ingredients%}
            {% for key, value in ingredient.items %}
            <li>{{value}} {{key}}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        <p class="card-text">{{recipe.instructions}}</p>
        <h6 class="card-subtitle mb-2 text-muted">{{ recipe.last_used|date:"F d, Y" }}</h6>
    </div>
    {% endfor %}
</div>

<form action="" method="POST">{% csrf_token %}
    <input type="submit" name="Save" value="Save" />
</form>


<h1>Ingredients:</h1>

<ul>
    {% for key, value in ingredient_list %}
    <li>{{key}} x {{value}}</li>
    {% endfor %}
</ul>

<!-- -->
{% endblock content %}